.qoder
/config.py
/Floodgate.iml
/ids.json
/storage.db
/oauth_sessions.db
/oauth_sessions.db-wal
/oauth_sessions.db-shm
Floodgate.bat
warnings_and_errors.log
icons/
openapi/__pycache__
__pycache__
Floodgate.bat
.idea
logs
docs
examples
achievements.json
achievements_simple.json

