aiocache==0.12.3
aiohttp==3.13.3
aiosqlite==0.22.1
anyio==4.4.0
apscheduler==3.11.2
async_lru==2.0.5
cachetools==5.5.2
cryptography==46.0.5
fastapi==0.135.2
loguru==0.7.3
Pillow==12.1.1
pydantic==2.12.5
PyJWT==2.12.1
starlette==1.0.0
uvicorn==0.42.0
